.my_logo {
  width: 150px;
  background-color: rgb(7, 44, 68);
  border-radius: 50%;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.details_list li {
  border-bottom: 1px rgb(7, 44, 68) solid;
}

.breakdown {
  padding: 3px 30px;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: rgb(7, 44, 68);
}

.details_list > * {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.first_span {
  font-weight: bold;
}
