.logo {
  width: 60px;
  height: 60px;
}

.main_list {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 1px;
  background-color: rgb(217, 59, 154);
}

.arrow {
  color: white;
}

.home_list {
  width: 165px;
  height: 180px;
  padding: 5px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.content {
  margin: 10px auto;
}

.content > * {
  letter-spacing: 0.15px;
}

p {
  font-size: 15px;
}

.home_list:nth-child(even) {
  background-color: rgb(201, 46, 139);
}
