@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&family=Nanum+Gothic:wght@700&family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./assets/images/1.webp');
  background-position: center;
}

ul {
  list-style-type: none;
}
